* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.Body {
  min-height: calc(100vh - 100px);
}

.teste {
  visibility: hidden;
}
